@tailwind base;
@tailwind components;
@tailwind utilities;
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
  }
  .navbar .indices span {
    margin-right: 20px;
    font-size: 14px;
  }
  .navbar .menu{
    display :flex;
    gap:15px;
  }